@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!! </h1>
    <h4>SITE PARA TESTE PIM FOLHA DE PAGAMENTO</h4>
    <h5>BY: JOAO VICTOR APARECIDO</h5>
    <p>Link a seguir <a href="JOÃO VICTOR APARECIDO JESUS DE OLIVEIRA"> Link Para Meu Linkedin</a>.</p>
</div>
